<div class = "page-header">
	<h1> Your Projects </h1>
</div>
<%= link_to "Add New Project", new_project_path, class: "btn btn-success" %>

<div id = "projects">
	<% @projects.each do |project| %>
		<h2><%= link_to project.website, project %></h2>
		<p><%= project.keyword %></p>
	<% end %>
</div>